{{>partials/header}}

<section class="banner" style="background-image: url('images/{{background}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}
<div class="container list">
  
</div>

<div class="container no-items">
<h2>Página nao encontrada</h2>
</div>


{{>partials/footer}}